<% provide(:title, 'Cart') %>

<%= render partial: 'order_light_section' %>

  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix cartListWrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="cartListInner">
            <%= form_for @order, url: {action: :update}, html: {method: :patch} do |order| %>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>商品名</th>
                    <th>価格</th>
                    <th>数</th>
                    <th>小計</th>
                  </tr>
                </thead>
                <tbody>
                    <%= order.fields_for :line_items do |item| %>
                      <%= render partial: 'line_item', locals: {line_item: item.object, f: item} %>
                    <% end %>
                </tbody>
              </table>
            </div>
            <div class="updateArea">
              <%= order.submit 'カートを更新する', class: 'btn' %>
              <% end %>
            </div>
            <div class="totalAmountArea">
              <div class="col-sm-4 col-sm-offset-8 col-xs-12">
                <ul class="list-unstyled">
                  <li>小計 <span><%= @total_price %></span></li>
                  <li>消費税 <span><%= @total_tax %></span></li>
                  <li>総計 <span class="grandTotal"><%= @grand_total_price %></span></li>
                </ul>
              </div>
            </div>
            <div class="checkBtnArea">
              <%= link_to '#', class: "btn btn-primary btn-block" do %>
                購入する<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
