<div class="topBar">
          <div class="container">
            <div class="row">
              <div class="col-md-6 hidden-sm hidden-xs">
                <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                </ul>
              </div>
              <div class="col-md-6 col-xs-12">
                <ul class="list-inline pull-right">
                  <% # <li><span><a data-toggle="modal" href='.login-modal'>ログイン</a><small>or</small><a data-toggle="modal" href='#signup'>新規登録</a></span></li> %>
                  <li class="dropdown searchBox">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <form  id="searchForm" action="#" method="get">
                      <li>
                        <span class="input-group">
                          <input type="text" name="searchWord" class="form-control" placeholder="Search…" aria-describedby="basic-addon2">
                          <span onclick="searchForm.FormSubmit();" class="input-group-addon addPointer" id="basic-addon2">検索</span>
                        </span>
                      </li>
                      </form>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <%= link_to populate_potepan_orders_path, class: "dropdown-toggle", 'data-toggle' => "dropdown disabled" do %>
                      <i class="fa fa-shopping-cart"></i><%= "¥#{format_with_comma(@in_cart_total_price)}" %></a>
                    <% end %>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li>ショッピングカート</li>
                      <% if @in_cart_items %>
                        <% @in_cart_items.each.with_index do |item, i| %>
                          <li>
                            <%= link_to potepan_product_path(item.product.id) do %>
                              <div class="media">
                                <div class="in-cart-image-box">
                                    <%= image_tag(@in_cart_item_images[i], :class => "media-left media-object in-cart-images", :alt => "cart-Image") %>
                                </div>
                                <div class="media-body">
                                  <h5 class="media-heading">
                                    <%= item.product.name %><br>
                                    <div class="in-cart-item-prices"><%= "#{item.quantity} X #{item.price.to_i}円" %></div>
                                  </h5>
                                </div>
                              </div>
                            <% end %>
                          </li>
                        <% end %>
                      <% end %>
                      <li>
                        <div class="btn-group" role="group" aria-label="...">
                          <button type="button" class="btn btn-default" onclick="location.href='/potepan/orders/populate';">カートを見る</button>
                          <button type="button" class="btn btn-default" onclick="location.href='#';">購入する</button>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
